<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <title>Fragments</title>
   <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
   <div th:fragment="navbar" class="menu">
		<div class="sidenav">
			<a href="/">Início</a>
			
			<button class="dropdown-btn">
                Paciente &#x25BC;
			</button>
			<div class="dropdown-container">
                <a th:href="@{/paciente/form}">Cadastrar Paciente</a> <a
                    th:href="@{/paciente/list}">Listar Paciente</a>
			</div>
			
			<button class="dropdown-btn">
                Consultas &#x25BC;
			</button>
			<div class="dropdown-container">
                <a th:href="@{/consulta/form}">Cadastrar Consultas</a> <a
                    th:href="@{/consulta/list}">Listar Consultas</a>
			</div>
			
			<button class="dropdown-btn">
                Prontuário &#x25BC;
			</button>
			<div class="dropdown-container">
                <a th:href="@{/prontuario/form}">Cadastrar Prontuário</a> <a
                    th:href="@{/prontuario/list}">Listar Prontuário</a>
			</div>
			
			<button class="dropdown-btn">
                Usuário &#x25BC;
			</button>
			<div class="dropdown-container">
                <a th:href="@{/usuario/form}">Cadastrar Usuários</a> <a
                    th:href="@{/usuario/list}">Listar Usuários</a>
			</div>
			
			<button class="dropdown-btn">
                Role &#x25BC;
			</button>
			<div class="dropdown-container">
                <a th:href="@{/role/form}">Cadastrar Roles</a> <a
                    th:href="@{/role/list}">Listar Roles</a>
			</div>
		</div>
		<script src="/js/script.js"></script>
	</div>
</body>
</html>