<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista de Consultas</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div th:replace="fragments/barraNavegacao :: navbar"></div>
	<div th:replace="fragments/message :: message"></div>

	<h2>Lista de Consultas</h2>
	<table border="1" cellpadding="5" cellspacing="0">
		<thead>
			<tr>
				<th>Paciente</th>
				<th>Data e Hora</th>
				<th>Médico</th>
				<th>Motivo</th>
				<th>Diagnóstico</th>
				<th>Prescrição</th>
				<th>Status</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="consulta : ${consultas}">
                <td th:text="${consulta.paciente.nome}"></td>
				<td th:text="${#temporals.format(consulta.dataHora, 'HH:mm dd/MM/yyyy')}"></td>
                <td th:text="${consulta.medicoResponsavel}"></td>
                <td th:text="${consulta.motivoConsulta}"></td>
                <td th:text="${consulta.diagnostico}"></td>
                <td th:text="${consulta.prescricao}"></td>
                <td th:text="${consulta.status}"></td>
            <td>
                <a th:href="@{/consulta/edit/{id}(id=${consulta.id})}">Editar</a> |
                <a th:href="@{/consulta/delete/{id}(id=${consulta.id})}">Excluir</a>
            </td>
			</tr>
		</tbody>
	</table>
</body>
</html>