<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Editar Paciente</title>
        <link href="/css/styles.css" rel="stylesheet">
        <script src="/js/script.js"></script>
    </head>
    <body>
        <!-- Insere a navbar -->
        <div th:insert="fragments/barraNavegacao :: navbar"></div>
   
        <!-- Insere as messages -->
        <div th:insert="fragments/message :: message"></div>

        <h1>Editar Paciente</h1>
   
        <form th:action="@{/paciente/update}" th:object="${paciente}" method="post">
        <input type="hidden" th:field="*{id}" />

        <label>Nome:</label>
        <input type="text" th:field="*{nome}" /><br/>

        <label>Email:</label>
        <input type="email" th:field="*{email}" /><br/>

        <label>Telefone:</label>
        <input type="text" th:field="*{telefone}" /><br/>

        <label>Data Nascimento:</label>
        <input type="date" th:field="*{dataNascimento}" /><br/>

        <label>Sexo:</label>
        <input type="text" th:field="*{sexo}" /><br/>
        
 <!-- Submit Button -->
            <button type="submit">Salvar Alterações</button>
            <a th:href="@{/paciente/list}"><button type="button">Cancelar</button></a>
        </form>
     </body>
</html>
