<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Lista de Pacientes</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<div th:replace="fragments/barraNavegacao :: navbar"></div>
	<div th:replace="fragments/message :: message"></div>

	<h2>Lista de Paciente</h2>
	<table border="1" cellpadding="5" cellspacing="0">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Email</th>
				<th>Telefone</th>
				<th>Data Nascimento</th>
				<th>Sexo</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="paciente : ${pacientes}">
                <td th:text="${paciente.nome}"></td>
                <td th:text="${paciente.email}"></td>
                <td th:text="${paciente.telefone}"></td>
                <td th:text="${paciente.dataNascimento}"></td>
                <td th:text="${paciente.sexo}"></td>
                
            <td>
				    <a th:href="@{'/paciente/edit/' + ${paciente.id}}">Editar</a> | 
			        <a th:href="@{'/paciente/delete/' + ${paciente.id}}" onclick="return confirm('Tem certeza que deseja excluir?')">Excluir</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>